body {
  background-color: white;
  font-family: "Caveat", cursive;
}
.container {
  max-width: 600px;
  background-color: #ddeedf;
  margin: 90px auto;
  padding: 50px;
  border-radius: 30px;
  box-shadow: 0 30px 50px rgba(67, 61, 83, 0.08);
}
.search-form {
  display: flex;
  justify-content: center;
}
.search-form-input {
  border: none;
  padding: 15px 20px;
  width: 60%;
  border-radius: 10px;
  font-family: "Caveat", cursive;
  font-size: 20px;
  background-color: #ececec;
}
.search-form-button {
  border: none;
  border-radius: 10px;
  padding: 15px 40px;
  font-family: "Caveat", cursive;
  font-size: 25px;
  margin-left: 5px;
  background-color: #9fd3c7;
}
h1 {
  text-align: center;
  font-size: 60px;
  text-shadow: 25px 32px 24px rgba(28, 29, 29, 0.2);
  color: #1c1d1d;
}

.temp {
  font-size: 55px;
  display: flex;
  justify-content: left;
  position: relative;
  bottom: 60px;
}

.time {
  display: flex;
  justify-content: left;
  position: relative;
  bottom: 60px;
  font-size: 30px;
}
.description {
  position: relative;
  font-size: 30px;
  bottom: 60px;
}
.img {
  display: block;
  margin: 10px auto;
  border-radius: 90px;
  width: 250px;
  position: relative;
  bottom: 270px;
  padding-top: 0;
  left: 180px;
}
.detail {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  position: relative;
  bottom: 250px;
}
.Humidity {
  position: relative;
  left: 7px;
  top: 5px;
}
.wind {
  position: relative;
  top: 5px;
  left: 8px;
}
.feels-like {
  position: relative;
  left: 10px;
  top: 5px;
}
hr {
  position: relative;
  bottom: 200px;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
}
.weather-forecast-day {
  border: none;
  border-radius: 30px;
  background-color: #9fd3c7;
  padding: 10px;
  position: relative;
  bottom: 100px;
  font-size: 30px;
  box-shadow: 0 30px 50px rgba(67, 61, 83, 0.08);
}
.weather-forecast-icon {
  display: block;
  margin: 0 auto;
  position: relative;
  bottom: 50px;
  width: 60px;
}
.weather-forecast-temperature {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  position: relative;
  bottom: 30px;
}
footer {
  text-align: center;
  font-size: 20px;
}
a {
  text-decoration: solid;
  color: #66bfbf;
}
a:hover {
  color: #71a0a5;
}
